[Desktop Entry]
Name=KSysGuard
Name[uk]=KSysGuard
Name[x-test]=xxKSysGuardxx
GenericName=System Monitor
GenericName[uk]=Монітор системи
GenericName[x-test]=xxSystem Monitorxx
Exec=ksysguard %U
Icon=utilities-system-monitor
Type=Application
MimeType=application/x-ksysguard;
X-DocPath=ksysguard/index.html
Terminal=false
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;System;
