[Desktop Entry]
Encoding=UTF-8
Name=System Monitor
Comment=An applet which monitors system information
Icon=ksysguard
X-KDE-Library=sysguard_panelapplet
X-KDE-UniqueApplet=true
