[Desktop Entry]
BinaryPattern=ksysguard;
Comment=Task Manager and Performance Monitor
Comment[af]=Taakbestuurder en Produksiemonitor
Comment[az]=Vəzifə İdarəcisi və Qabiliyyət İzləyici
Comment[br]=Merour dleadoù ha diskweler barregezh
Comment[bs]=Upravitelj zadacima i ocjenitelj učinka
Comment[ca]=Gestor de tasques i monitor de rendiment
Comment[cs]=Správce úloh a monitor výkonu
Comment[da]=Opgavehåndtering og ydelsesmåler
Comment[de]=Verwaltung laufender Programme und Überwachung ihrer Leistung
Comment[el]=Διαχειριστής Εργασιών και Εποπτεία Επίδοσης
Comment[eo]=Taskadministrilo kaj montrilo por procezilo kaj memoro
Comment[es]=Administrador de tareas y monitor de rendimiento
Comment[et]=Protsesside haldamine ja jõudluse monitooring
Comment[eu]=Lan kudeatzailea eta Errendimendu Monitorea
Comment[fi]=Proessien- ja suorituskyvynvalvonta
Comment[fr]=Gestionnaire de tâches et Indicateur ressources
Comment[gl]=Xestor de Tarefas e Monitor de Rendemento
Comment[he]=םיעוציב גצו תומישמ להנמ
Comment[hr]=Upravitelj zadacima i ocjenitelj učinka
Comment[hu]=Feladatkezelő és teljesítményfigyelő
Comment[is]=ktop:  Ferlastjóri og álagsmælir
Comment[it]=Gestione task e monitor delle prestazioni
Comment[ja]=タスクマネージャーとパフォーマンスモニター
Comment[ko]=작업을 관리하고 시스템 성능을 지켜봅니다
Comment[lt]=Užduočių tvarkyklė ir Našumo stebėtojas
Comment[lv]=Uzdevumu Menedžeris un Produktivitātes Monitors
Comment[mk]=Менаџер на процеси и монитор на перформанси
Comment[nl]=takenbeheerder en prestatiemonitor
Comment[no]=Oppgavebehandler og ytelsesovervåker
Comment[no_NY]=Oppgåvebehandlar og ytingsmålar
Comment[oc]=Gestionari de tasques e monitor de rendiment
Comment[pt]=Gestor de tarefas e monitor de performance
Comment[pt_BR]=Monitor de performance e gerenciador de tarefas
Comment[ro]=Administrează procesele sistemului şi monitorizează performanţa
Comment[ru]=менеджер задач и монитор загрузки системы
Comment[sk]=Správca úloh a monitorovanie výkonu
Comment[sl]=Upravljalnik opravil in nadzornik zmogljivosti
Comment[sr]=MenadĹžer za procese i pregled performansi sistema
Comment[sv]=Hanterar aktiviteter och visar prestanda
Comment[ta]=À½¢ì¸¼õ §Á¡Ä¡Ç÷ ÁüÚõ ¸½¢É¢ ¸ñ¸¡½¢ôÀ¡Ç÷
Comment[tr]=Görev Yöneticisi ve Performans İzleyici
Comment[uk]=Менеджер задач та монітор завантаження системи
Comment[zh_CN.GB2312]=任务管理器和性能监视器
Comment[zh_TW.Big5]=工作管理員及效能監測器
Name=KDE System Guard
Name[az]=KDE Sistem Yoxlayıcısı
Name[br]=Gward Reizhiad KDE
Name[bs]=KDE zaštitnik sustava
Name[ca]=Vigilant del sistema KDE
Name[cs]=Kontrola systému pro prostředí KDE
Name[da]=KDE Kontrolvagt
Name[de]=KDE-Systemüberwachung
Name[el]=Φρουρός Συστήματος KDE
Name[eo]=KDE-Sistemgardilo
Name[es]=Guardián del sistema de KDE
Name[et]=KDE süsteemi valvur
Name[fi]=KDE:n järjestelmänvalvonta
Name[fr]=Surveillance du système
Name[gl]=Vixiante do Sistema de KDE
Name[he]=KDE לש תכרעמה רמשמ
Name[hr]=KDE zaštitnik sustava
Name[hu]=KDE rendszerfigyelő
Name[is]=KDE álagsmælir
Name[it]=Controllo di sistema di KDE
Name[ja]=KDEシステムガード
Name[ko]=KDE 시스템 보호
Name[lt]=KDE Sistemos apsauga
Name[lv]=KDE Sistēmas Sargs
Name[mk]=KDE заштитник на системот
Name[nl]=KDE Systeem Bewaking
Name[no]=KDE Systemovervåker
Name[no_NY]=KDE Systemvakt
Name[oc]=Garda dèu sistemo KDE
Name[pt]=Vigilante do Sistema KDE
Name[pt_BR]=Guarda do Sistema
Name[ro]=Sistemul de gardă KDE
Name[ru]=Cистемный монитор
Name[sk]=KDE Strážca Systému
Name[sl]=Sistemski varuh KDE
Name[sv]=KDE Systemövervakare
Name[ta]=KDE «¨ÁôÒ ¸¡ôÀ¡Ç÷
Name[tr]=KDE Sistem Denetleyicisi
Name[uk]=Системний вартовий KDE
Name[zh_CN.GB2312]=KDE 系统卫士
Name[zh_TW.Big5]=KDE 系統防護器
Exec=ksysguard %U
Icon=ksysguard
Type=Application
MimeType=application/x-ksysguard
DocPath=ksysguard/index.html
TerminalOptions=
Terminal=0
Path=
MapNotify=true
