[Desktop Entry]
Encoding=UTF-8
Name=System Monitor
Name[csb]=Mònitor systemë
Name[de]=Systemmonitor
Name[el]=Επόπτης συστήματος
Name[fa]=نمایشگر سیستم
Name[ga]=Monatóir an Chórais
Name[ja]=システムモニタ
Name[nds]=Systeemkieker
Name[nl]=Systeemmonitor
Name[pt]=Monitor do Sistema
Name[pt_BR]=Monitor do Sistema
Name[sv]=Systemövervakare
Name[x-test]=xxSystem Monitorxx
Name[zh_TW]=系統監視器
Comment=An applet which monitors system information
Comment[csb]=Aplet jaczi mònitorëje systemòwą wedowiédzã
Comment[de]=Anwendung zur Systemüberwachung
Comment[el]=Ένα εφαρμογίδιο παρακολούθησης πληροφοριών του συστήματος
Comment[ja]=システムの情報を監視するアプレット
Comment[nds]=En Lüttprogramm, dat de Systeeminformatschonen beluert
Comment[nl]=Een applet die systeeminformatie volgt
Comment[pt]=Uma 'applet' que vigia a informação do sistema
Comment[pt_BR]=Uma 'applet' que vigia a informação do sistema
Comment[sv]=Ett miniprogram som övervakar systeminformation
Comment[x-test]=xxAn applet which monitors system informationxx
Comment[zh_TW]=監控系統資訊的小程式
Icon=ksysguard
X-KDE-Library=sysguard_panelapplet
X-KDE-UniqueApplet=true
