<!DOCTYPE kpartgui>
<kpartgui name="ksysguard" version="2">
<MenuBar>
  <Menu name="file"><text>&amp;File</text>
    <Action name="connect_host"/>
    <Action name="disconnect_host"/>
  </Menu>
  <Menu name="edit"><text>&amp;Edit</text>
    <Action name="configure_sheet"/>
  </Menu>
  <Menu name="settings"><text>&amp;Settings</text>
    <Action name="showtoolbar"/>
    <Action name="showstatusbar"/>
  </Menu>
</MenuBar>
</kpartgui>
