[Desktop Entry]
BinaryPattern=ktop;
Comment=Task Manager and System Monitor
Comment[ca]=Gestor de tasques i monitor del sistema
Comment[ja]=¥¿¥¹¥¯¥Þ¥Í¡¼¥¸¥ã¡¼¤È¥·¥¹¥Æ¥à¥â¥Ë¥¿¡¼
Comment[no_NY]=Oppgåvebehandlar og systemovervakar
Name=Task Manager and System Monitor
Name[ja]=¥¿¥¹¥¯¥Þ¥Í¡¼¥¸¥ã¡¼¤È¥·¥¹¥Æ¥à¥â¥Ë¥¿¡¼
Name[no_NY]=Oppgåvebehandlar og systemovervakar
Exec=ktop
Icon=ktop
MiniIcon=ktop
Type=Application
DocPath=ktop/ktop.html
TerminalOptions=
Terminal=0
Path=
SwallowTitle=xload
SwallowExec=xload -jumpscroll 1 -fg green3 -bg black -nolabel -geometry 50x50+10000+10000
