# KDE Config File
[Desktop Entry]
NotShowIn=GNOME;
Encoding=UTF-8
MimeType=application/x-ksysguard
Comment=KDE System Monitor
Comment[csb]=Mònitor systemë
Comment[el]=Επόπτης συστήματος του KDE
Comment[ja]=KDE システムモニタ
Comment[nds]=KDE-Systeemkieker
Comment[x-test]=xxKDE System Monitorxx
Icon=ksysguard
Type=MimeType
Patterns=*.sgrd;
X-KDE-AutoEmbed=false
