# KDE Config File
[Desktop Entry]
NotShowIn=GNOME;
Encoding=UTF-8
MimeType=application/x-ksysguard
Comment=KDE System Guard
Comment[x-test]=xxKDE System Guardxx
Icon=ksysguard
Type=MimeType
Patterns=*.sgrd;
X-KDE-AutoEmbed=false
