# KDE Config File
[Desktop Entry]
NotShowIn=GNOME;
Encoding=UTF-8
MimeType=application/x-ksysguard
Comment=KDE System Guard
Comment[af]=Kde Stelsel Wag
Comment[ar]=حارس النظام
Comment[az]=KDE Sistem Cangüdəni
Comment[bg]=Системна защита
Comment[bn]=কে.ডি.ই. সিস্টেম গার্ড
Comment[br]=Gward Reizhiad KDE
Comment[bs]=KDE zaštita sistema
Comment[ca]=Vigilant del sistema KDE
Comment[cs]=Správce systému KDE
Comment[cy]=Gwarchodwr Cysawd KDE
Comment[da]=KDE Systemvagt
Comment[de]=KDE-Systemüberwachung
Comment[el]=Φρουρός συστήματος του KDE
Comment[eo]=KDE-Sistemobservilo
Comment[es]=Guardián del sistema de KDE
Comment[et]=KDE süsteemi valvur
Comment[eu]=KDEren sistemaren kontrola
Comment[fa]=محافظ سیستم KDE
Comment[fi]=KDE:n järjestelmänvalvonta
Comment[fr]=Surveillance du système
Comment[fy]=KDE systeembefeiliging
Comment[ga]=Garda an Chórais KDE
Comment[gl]=Vixiante do Sistema de KDE
Comment[he]=משמר המערכת של KDE
Comment[hi]=केडीई तंत्र गार्ड
Comment[hr]=KDE zaštitnik sustava
Comment[hu]=KDE rendszermonitor
Comment[is]=KDE kerfisvörður
Comment[it]=Controllo di sistema di KDE
Comment[ja]=KDEシステムガード
Comment[ko]=KDE 시스템 보호
Comment[lo]=ເຄື່ອງມືຶປ້ອງກັນລະບົບຂອງ KDE
Comment[lt]=KDE sistemos apsauga
Comment[lv]=KDE Sistēmas Sargs
Comment[mk]=KDE Системски чувар
Comment[mn]=КДЭ-Системийн хяналт
Comment[mt]=Gwardja tas-Sistema KDE
Comment[nb]=KDE Systemovervåker
Comment[nds]=KDE Systeemwachter
Comment[nl]=KDE systeembewaking
Comment[nn]=KDE Systemvakt
Comment[nso]=Thlokomelo ya System ya KDE
Comment[pa]=KDE ਸਿਸਟਮ ਸੁਰੱਖਿਅਕ
Comment[pl]=KDE Strażnik Systemu
Comment[pt]=Vigilante do sistema do KDE
Comment[pt_BR]=Sistema de Guarda do KDE
Comment[ro]=Sistem de gardă KDE
Comment[ru]=Cистемный монитор KDE
Comment[sk]=KDE Strážca systému
Comment[sl]=Sistemski varuh KDE
Comment[sr]=KDE чувар система
Comment[sr@Latn]=KDE čuvar sistema
Comment[sv]=KDE:s systemövervakare
Comment[ta]=KDE கணினி காவலன்
Comment[tg]=Муҳофизи системаи KDE
Comment[th]=เครื่องมือป้องกันระบบ KDE
Comment[tr]=KDE Sistem Koruyucu
Comment[uk]=Системний вартовий KDE
Comment[uz]=KDE тизим назоратчиси
Comment[ven]=Mulindi wa maitele a KDE
Comment[vi]=Trình bảo vệ hệ thống KDE
Comment[xh]=KDE Ukhuselo lendlela yokusebenza
Comment[xx]=xxKDE System Guardxx
Comment[zh_CN]=KDE 系统卫士
Comment[zh_TW]=KDE 系統守衛
Comment[zu]=Unogada Wesistimu ye-KDE
Icon=ksysguard
Type=MimeType
Patterns=*.sgrd;
X-KDE-AutoEmbed=false
